<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        img {
            height: 5rem;
        }
        .productContainer {
            display: inline-flex;
        }
    </style>
</head>
<body>
  <div id="app">
    <header>
        search: <input type="text" v-model="search"><br>
        篩選出大於: <input type="number" v-model="min">-<input type="number" v-model="max">$的商品
    </header>
    <!-- 沒反應 -->
    <div v-if="load">loading...</div>
    <div v-else class="productContainer">
        <div v-for="(item, index) in product" :key="item.id">
            <p>{{item.title}}</p>
            <img :src="item.image" v-bind:alt="item.title">
            <p>{{parsePrice(item.price)}}元</p>
            <div>
                <button v-on:click="reduceCount(index)">-</button>
                <input type="number" min="0" v-model="count[index]">
                <button @click="addCount(index, 1)">+</button>
            </div>
        </div>
        <p>總計：{{total}}元</p> 
    </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
            Vue.createApp({ 
                data(){
                    return {
                        load: false,
                        source: [],
                        // product: [],
                        count: [],
                        // total: 0,
                        search: '',
                        min: 0,
                        max: 0
                    }
                },
                created(){ //created: Vue實體被建立完
                    this.getResource()
                },
                computed:{ //created: Vue實體被建立完
                    product(){ 

                        let cache = this.source
                        if(this.min >0){ //篩選最小價錢
                            cache =  cache.filter(item=>{
                                console.log(item)
                                return item.price > this.min
                            })
                        }
                        if(this.max >0){ //篩選最大價錢
                            cache =  cache.filter(item=>{
                                return item.price < this.max
                            })
                        }
                        if(this.search !== ''){ //篩選相符標題
                            cache =  cache.filter(item=>{
                                return item.title.includes(this.search)
                            })
                        }
                        return cache
                            
                    },
                    total(){
					if(this.product.length> 0){
						let total = 0
						for ( const countIndex in this.product) {
							total += this.count[countIndex] * this.product[countIndex]['price']
						}
						return parseInt(total )
					}else{
						return 0 //注意上面的total要註解掉
					}
				}
			},
                watch:{
                    //監聽data或computed
                    total: {
                        handler: function(newVal, oldVal) {
                            console.log(oldVal);
                            console.log(newVal);
                            if(newVal>1000){
                                alert('你要餓死了')
                            }
                        },
                        deep:true
                    }
                },

                
                //method 可以帶參數，computed不行
                methods:{
                    parsePrice(price){
					return `TWD ${price*33}`
				    },
                    getResource(){
                        this.load = true
                        fetch('https://fakestoreapi.com/products')
                        .then(res=>res.json())
                        .then(json=>{
                                this.source = json
                            // console.log(json))
                            for( item in this.product){
                                this.count.push(0)
                            }
                            this.load = false
                        })

                    },
                    addCount(index){
                        this.count[index] += 1
                        this.sumTotal()
                    },
                    reduceCount(index){
                        if(this.count[index]<=0) return
                        this.count[index] -= 1
                        this.sumTotal()
                    },
                    // sumTotal(){
                        
                        // this.total= this.total.toFixed(2)

                        //想法1
                        //this.count.map((item, index) => {
                            //item:商品數量
                            //index:陣列位置
                            //this.product[index]:商品資訊
                            //this.product[index]['price']:商品價錢
                            //console.log(this.product[index]['price']+ ':'+item);
                        //})

                        //想法2
                        // this.product.map((item, index) => {
                        //     //item.price:商品價錢
                        //     //index:商品資訊陣列位置
                        //     //this.count[index]:商品數量
                        //     console.log(this.count[index] + ':' +item.price);
                        // })
                        // this.total = this.count*this.price
                    // }
                }
            }).mount("#app") 
    </script>
    
</body>
</html>